<div class="container background">
    <div>
        <h1 class="margin-top-20 blink">Course Highlights</h1>
    </div>
    <div>
        <h3 class="font-style-italic">Core Java online training offers several advantages, especially for individuals
            looking to build a strong foundation in Java programming. Here are some key benefits</h3>
    </div>
    <div>
        <div class="brand_border">
            <mat-divider class="custom-divider"></mat-divider>
            <i class="fas fa-handshake margin-top-14"></i>
            <mat-divider class="divider-margin"></mat-divider>
        </div>
        <mat-card class="example-card">
            <mat-card-header>
                <div></div>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img>
            <mat-card-content>
                <h2 class="font-style-1">1. Flexibility and Convenience</h2>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">Learn at Your Own Pace: Online courses allow you to learn at your
                        speed.
                        Whether you are a beginner or
                        have some experience, you can take the time you need to understand concepts fully.</h4>
                </div>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">Accessible Anytime, Anywhere: You can access the course materials
                        from
                        anywhere with an internet connection. This is particularly beneficial if you have a busy
                        schedule or if
                        you're balancing learning with work or other commitments.</h4>
                </div>

            </mat-card-content>

        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <div></div>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img>
            <mat-card-content>

                <h2 class="font-style-1">2. Cost-Effective</h2>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">Lower Costs: Online courses often cost less than in-person training.
                        You
                        also save on commuting, accommodation, and other related expenses.</h4>
                </div>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">Wide Range of Options: There are many free and paid courses
                        available,
                        allowing you to choose one that fits your budget while still offering quality education.</h4>
                </div>
            </mat-card-content>

        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <div></div>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img>
            <mat-card-content>

                <h2 class="font-style-1">3. Comprehensive Learning Resources</h2>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">Interactive Content: Online training platforms offer a mix of video
                        lectures, quizzes, assignments, and projects, which help in understanding and applying the
                        concepts
                        effectively.</h4>
                </div>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">Updated Material: Online courses are frequently updated to include
                        the
                        latest Java features, tools, and best practices, ensuring you learn relevant and current
                        content.</h4>
                </div>

            </mat-card-content>

        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <div></div>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img>
            <mat-card-content>

                <h2 class="font-style-1">4. Access to Expert Instructors</h2>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">Experienced Trainers: Many online courses are taught by industry
                        professionals with years of experience in Java programming. You can gain insights from their
                        practical
                        experience and industry knowledge.</h4>
                </div>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">One-on-One Mentoring: Some platforms offer mentorship programs,
                        where you
                        can get personalized guidance and feedback on your progress.</h4>
                </div>

            </mat-card-content>

        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <div></div>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img>
            <mat-card-content>


                <h2 class="font-style-1">5. Practical, Hands-On Learning</h2>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">Real-World Projects: Many courses include practical projects that
                        simulate
                        real-world problems, helping you apply what you've learned in a meaningful way.</h4>
                </div>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">Coding Exercises: Online platforms often provide coding challenges
                        and
                        exercises to reinforce your understanding and improve your problem-solving skills.</h4>
                </div>



            </mat-card-content>

        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <div></div>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img>
            <mat-card-content>

                <h2 class="font-style-1">6. Immediate Feedback and Assessment</h2>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">Instant Feedback on Exercises: Many online platforms offer instant
                        feedback
                        on quizzes and coding exercises, helping you quickly identify and correct mistakes.</h4>
                </div>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">Progress Tracking: You can easily track your learning progress
                        through
                        dashboards and assessments, ensuring that you are meeting your learning goals.</h4>
                </div>



            </mat-card-content>

        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <div></div>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img>
            <mat-card-content>

                <h2 class="font-style-1">7. Up-to-Date with Industry Trends</h2>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">Latest Java Versions: Online courses are often updated to reflect
                        the latest
                        versions of Java, ensuring that you learn the most current programming techniques and standards.
                    </h4>
                </div>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">Exposure to Modern Tools: You’ll likely get hands-on experience with
                        popular
                        Java development tools, frameworks, and libraries used in the industry today.</h4>
                </div>

            </mat-card-content>

        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <div></div>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img>
            <mat-card-content>


                <h2 class="font-style-1">8. Career Advancement</h2>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">Improved Job Prospects: With the demand for Java developers still
                        strong,
                        gaining a solid understanding of Core Java through online training can significantly enhance
                        your
                        employability.</h4>
                </div>
                <div style="display: flex;">
                    <i class="fa-solid fa-circle circle-custom"></i>
                    <h4 style="font-style: italic;">Pathway to Advanced Learning: Core Java is the foundation for more
                        advanced
                        topics like Spring, Hibernate, or Android development. An online course can serve as a stepping
                        stone to
                        mastering these areas.</h4>
                </div>
            </mat-card-content>

        </mat-card>
        <div style="text-align: center;margin-top: 4%; margin-bottom: 30px;">
            <button mat-raised-button class="button-width" color="accent">Avail a Free Demo Class</button>
        </div>
    </div>
    <div class="brand_border">
        <mat-divider class="custom-divider-syllabus"></mat-divider>
        <i class="fas fa-handshake margin-top-14"></i>
        <mat-divider class="divider-margin-syllabus"></mat-divider>
    </div>
    <div>
        <h1 class="margin-top-50 blink">Java Training Course Syllabus - Core Java</h1>
    </div>
    <div>
        <h3 class="font-style-italic-syllabus">To start programming in Java, you first need to download and install the
            Java development kit.</h3>
        <h3 class="font-style-italic-syllabus">After you have the JDK installed on your computer, there’s nothing
            stopping you from using a basic tutorial to write your first Java program.</h3>
        <h3 class="font-style-italic-syllabus">Our only motive is to grant aspirants with the wholesome java courses
            without leaving any single topic. Our Java training syllabus is framed such that all java course topics are
            covered.</h3>
        <h3 class="font-style-italic-syllabus"> We have listed our java programming syllabus for your reference. Learn
            Java programming topics enthusiastically and interestingly with us.</h3>
    </div>
    <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.1</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">Introduction to Java</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p> <i class="far fa-hand-point-right circle-custom-syllabus"></i>Overview of Java</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>History and Evolution</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Java Features</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Java Development Kit (JDK), Java Runtime Environment (JRE), Java Virtual Machine (JVM)</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Setting up Java Development Environment (IDE setup like Eclipse/IntelliJ)</p>
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.2</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">Java Language Fundamentals.</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p> <i class="far fa-hand-point-right circle-custom-syllabus"></i>Identifiers</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Reserved Words</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Data Types</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Literls</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Arrays</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Types of Variables</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Var-arg Methods</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Main Method</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Command Line Arguments</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Java Coding Standred</p>
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.3</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">Operators And Assignments</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p> <i class="far fa-hand-point-right circle-custom-syllabus"></i>Increments and Decrement Operators</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Arithmatic Operators</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>String Concatenation Operators</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Relational Operators</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Equality Operators</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>instanceOf Operators</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Bitwise Operators</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Short circuit Operators</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Type cast Operators</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Assignment</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Conditional</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>new</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>[  ]</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Operator Precendence</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>new Vs newInstance()</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>instanceOf vs isIntance()</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>ClassNotFoundException Vs NoClassDefFound Error</p>
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.4</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">Flow Control</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p> <i class="far fa-hand-point-right circle-custom-syllabus"></i>If - else</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>switch()</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>while()</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>do - while()</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>for()</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>for - Each()</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>break</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>continue</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>return</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>try</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>catch</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>finally</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>assert</p>
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.5</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">Declaration and Access control</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p> <i class="far fa-hand-point-right circle-custom-syllabus"></i>Java source file structure</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Import Statement</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Packages</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Public</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Default</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>final</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>abstract</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>strictfp</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>private</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>protected</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>static</p>
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.6</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">Interfaces</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p> <i class="far fa-hand-point-right circle-custom-syllabus"></i>Introduction</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Interface Declaration and Implementation</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Extends and Implement</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Interface methods</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Interface naming conflicts 1.Method naming conflicts 2.Variable naming conflicts</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Marker Interface</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Adapter Classes</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Interface Vs abstract class Vs Concrate class</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Difference b/w Interface and abstract</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Conclusions</p>
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.7</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">OOPs</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p> <i class="far fa-hand-point-right circle-custom-syllabus"></i>Data hiding</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Abstraction</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Encapsulation</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Tightly encapsulated class</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>IS-A-Relationship</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>HAS-A-Relationship</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Method Signature</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Overloading</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Overriding</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Static control flow</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Instance control flow</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Construtors</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Coupling</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Cohesion</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Type - casting</p>
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.8</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">Exception Handling</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p> <i class="far fa-hand-point-right circle-custom-syllabus"></i>Data hiding</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Abstraction</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Encapsulation</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Tightly encapsulated class</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>IS-A-Relationship</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>HAS-A-Relationship</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Method Signature</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Overloading</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Overriding</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Static control flow</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Instance control flow</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Construtors</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Coupling</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Cohesion</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Type - casting</p>
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.9</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">MultiThreading</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p> <i class="far fa-hand-point-right circle-custom-syllabus"></i>Introduction</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>The way to define a Thread 1.. By extending Thread Class 2..By Implementing Runnable Interface</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Getting and Setting Name of Thread</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Thread Priorities</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>The methods to prevent Thread execution 1..yield()  2..join() 3..Sleep()</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Synchronization</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>InterThread communication</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>DeadLock</p>
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.10</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">InnerClass</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p> <i class="far fa-hand-point-right circle-custom-syllabus"></i>Introduction</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Normal innerclass Regular innerclass</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Anonymous innerclass</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Normal java class Vs anonymous innerclass</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Nested classes and interfaces</p>
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.11</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">Package - Java.lang.package</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p> <i class="far fa-hand-point-right circle-custom-syllabus"></i>Introduction object class toString()</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Object class Hashcode()</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>eqals() overridden methods of eqals</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Object class finalize() getclass() notify()</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Strings class</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Strings class Strings class constructor</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Strings constructors of StringsBuffer</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Wrapper class wrapper objects</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Wrapper class Utility methods</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Autoboxing Autounboxing</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Object class equals() Hashcode()</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Object class clone()</p> 
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>   
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.12</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">Working with Files and I/O Handling</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p> <i class="far fa-hand-point-right circle-custom-syllabus"></i>Introduction File</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Filewriter importent methods</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>FileReader importent methods Bufferedwriter</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Printwriter</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Printwriter-Examples</p>
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>  
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.12</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">Serialazation</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p> <i class="far fa-hand-point-right circle-custom-syllabus"></i>Introduction</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Serialazation in the case of object graphs</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Customized serialization</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Inheritance serialization</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Externalization</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>SerialVersion UID</p>  
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p> 
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.13</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">RegularExpresions</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Introduction</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Character matching</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Pattern Class</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>How to use Regular Expresions</p>  
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.13</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">Collections</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Introduction</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i> 9 key interfaces</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Collection & collections list & set</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Array list</p>  
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Difference between Array list & linked list</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Limitations of enumerations</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Set interface ShortedSet</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>TreeSet</p>  
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Comparator</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>String object in Treeset Example</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Map Hashmap linked Hashmap</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Linked Hashmap</p>  
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Sortedmap</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Hashtable</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Queue</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Navigableset</p>  
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Searching elements of list</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Arrays</p> 
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.14</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">Garbage collection</p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Introduction</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>The ways to make object eligible for GC</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>The methods for requesting jvm to run GC</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>finalization</p>   
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div class="example-card-syllabus">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="syllabus-title">Core Java Syllabus - Chapter No.15</h3>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="syllabus-title">JVM Architecture </p>
                </mat-panel-title>
             
              </mat-expansion-panel-header>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Introduction class loading of system</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Linking verfi prepare resolve</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>How class loader works</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Need of customized classloader</p>   
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Heap area method area</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Stack memory</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>JVM execution engine</p>
              <p><i class="far fa-hand-point-right circle-custom-syllabus"></i>Complete jvm architecture</p>  
              <p style="direction: rtl;"><button mat-raised-button color="accent"><i class="far fa-hand-point-right">&nbsp;&nbsp;Click Here For Notes</i></button></p>
            </mat-expansion-panel>
          </mat-accordion>
     </div>
     <div>
        <app-footer></app-footer>  
    </div>
</div>