footer {
    background-color: rgba(51, 51, 51, 0.9); /* Adjust the alpha value (last parameter) for transparency */
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 137px; 
    margin-top: 36px;
}

.footer-container {

    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    text-align: center;
}

.footer-info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-info p {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    color: #fff;
    font-size: 2.0rem;
    margin: 15px 0px 0px 19px;
}

.social-icons a:hover {
    opacity: 0.8;
}
.imgstyle {
    height: 40px;
    width: 40px;
    margin-right: 25px;
    margin-bottom: 10px;
}
