<footer>
    <div class="footer-container">
        <div class="footer-info">
          <div style="margin-left: 40px;margin-top: 15px;"> Contact Us : 123 Main Street, City, Country</div>
           
            <p>Pune,411028</p>
            <p>Email: A3Softjava&#64;rediffmail.com </p> 
            <p style="margin-right: 65px;">Phone: +91 9284563723</p>
          
             </div>
             <div class="social-icons">
            
                <section class="mb-4">
                  <a href="https://www.youtube.com/@A3SoftJava" target="_blank">
                    <img class="youtube-img"  style="height: 60px;width: 54px;margin-right: 25px;" src="assets/img/youtube.png" alt="YouTube Channel">
                  </a>
                  <!-- Facebook -->
                  <img class="imgstyle" src="assets/img/Facebooklogo.png" alt=" ">
                  <!-- Twitter -->
                  <img class="imgstyle" src="assets/img/twitter.png" alt=" ">
                  <!-- Instagram -->
                  <img class="imgstyle" src="assets/img/Instagram_icon.png" alt=" ">
                  <!-- Linkedin -->
                  <img class="imgstyle" src="assets/img/linked.png" alt=" ">
                 
                </section>
                <!-- Section: Social media -->
              </div>
    </div>
</footer>
