<mat-toolbar class="header mat-elevation-z8">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/img/A3Soft logo.jpeg" alt="Logo" class="logo">
    <span class="spacer"></span>
    <button routerLink="/home" routerLinkActive="active-link" mat-button>Home</button>
    <button  routerLink="/cource" routerLinkActive="active-link" [matMenuTriggerFor]="lvlCourse" mat-button>Cources</button>
    <mat-menu #lvlCourse="matMenu">
        <button [matMenuTriggerFor]="Development" mat-menu-item>Software Development</button>
        <button [matMenuTriggerFor]="Cloud" mat-menu-item>Cloud Computing</button>
        <button [matMenuTriggerFor]="Database" mat-menu-item>Database</button>
    </mat-menu>

    <mat-menu #Development="matMenu">
        <button routerLink="/cource/corejava" mat-menu-item>Java-Core</button>
        <button mat-menu-item routerLink="/cource/advancejava">Java-Advance</button>
        <button mat-menu-item>Spring/Spring-Boot</button>
        <button mat-menu-item>Angular</button>
        <button mat-menu-item>React</button>
    </mat-menu>
    <mat-menu #Cloud="matMenu">
        <button mat-menu-item>Aws-Amazon Web Service</button>
    </mat-menu>
    <mat-menu #Database="matMenu">
        <button mat-menu-item>MySQL</button>
        <button mat-menu-item>Oracle</button>
        <button mat-menu-item>MongoDB</button>
    </mat-menu>
    <button mat-button  routerLink="/freedemo" routerLinkActive="active-link">Free Demo Videos</button>
    <button mat-button>Upcoming Batches</button>
    <button mat-button  routerLink="/aboutUs" routerLinkActive="active-link">About Us</button>
    <button mat-button routerLink="/contactUs" routerLinkActive="active-link">Contact</button>
    <button mat-raised-button routerLink="/login" color="accent">Login</button>
    <button *ngIf="showButton" (click)="badgevisibility()" mat-icon-button>
        <mat-icon matBadgeColor="accent" matBadge="10" [matBadgeHidden]="badgevisible" matBadgeSize="small">notifications</mat-icon>
    </button>
</mat-toolbar>
<!--<mat-drawer-container autosize> (click)="drawer.toggle()"
    <mat-drawer #drawer opened="false" mode="side">
<mat-nav-list>
    <mat-list-item>
        <button mat-button><mat-icon>dashboard</mat-icon>Dashboard</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button><mat-icon>home</mat-icon>Home</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button><mat-icon>settings</mat-icon>Settings</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button><mat-icon>help</mat-icon>Help</button>
    </mat-list-item>
</mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
<div style="text-align: center; min-height: 1460px">
    <router-outlet></router-outlet>
</div>
    </mat-drawer-content>   
</mat-drawer-container>-->