.background {
    background-color: #fad7f84f;
}
.login-image{
    height: 100%;
    width: 100%;
}
.contact-master {
    position: absolute;
    top: 97px;
    right: 2%;
    height: 125%;
    width: 45%;
    background-color: #eed5ba;
    padding: 20px;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.5);
}
.LAPTOP-1 {
    display: flex;
  }

.highlight-1 {
    margin-left: 7px;
    color: #e80ae8;
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
  }
  .highlight {
    color: #ff6600;
    font-size: 29px;
    margin-left: 9px;
  }
  .example-form {
    margin-top: 25px;
 }
 .btn-style {
  width: 212px;
  height: 44px;
  background: #ff6600;
  color: #fff;
  border: none;
 }
 .btn-style-social {
  width: 280px;
  height: 44px;
  background: #ff6600;
  color: #fff;
  border: none;
 }
 .mat-mdc-button {
  border-radius: 0%;
 }
 .card-1 {
  position: absolute;
  top: 97px;
  height: 125%;
  width: 1%;
  background-color: #eed5ba;
    padding: 20px;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.5);
 }