<div class="container background">
    <div>
        <img class="login-image" src="assets/img/loginBack.jpg" alt=" ">
    </div>
    <div class="contact-master">
        <div class="LAPTOP-1">
            <div class="card-2">
                <div class="card-1-details">
                    <h2 style="font-size: 20px;margin: 0;">Forgot Password</h2>
                    <form class="example-form">
                        <!-- <p class="label-group">Email Address</p>
                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput [formControl]="emailFormControl"
                                placeholder="Ex. pat@example.com">

                            <mat-error
                                *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>

                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field> -->
                       
                        <p class="label-group">New Password<span class="highlight-1-password"></span></p>
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput [formControl]="passwordFormControl"
                                placeholder="Enter 6 character or more">

                            <mat-error
                                *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
                                Please enter a valid password address
                            </mat-error>

                            <mat-error *ngIf="passwordFormControl.hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <p class="label-group">Conform Password<span class="highlight-1-password"></span></p>

                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput [formControl]="passwordFormControl"
                                placeholder="Enter 6 character or more">

                            <mat-error
                                *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
                                Please enter a valid password address
                            </mat-error>

                            <mat-error *ngIf="passwordFormControl.hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <div style="margin-top: 20px;">
                            <button class="button-style" mat-raised-button (click)="onSubmit()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div>
            </div>
            <img class="login1-image" src="assets/img/loginPage1.jpg" alt=" ">
        </div>

    </div>
    <div style="margin-top: -42px;">
        <app-footer></app-footer>
    </div>
</div>