<div class="container background">
    <div>
        <h1 class="margin-top-20 blink">Our Top IT Courses</h1>
    </div>
    <div>
        <h3 class="font-style-italic">Choose your course with complete bundle of online training. Each training is
            handled by a team of experienced professionals who has years of experience in the particular field.</h3>
    </div>
    <div class="cards-container">

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="java-title">Java</mat-card-title>
                <mat-card-subtitle>Core | Advance</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/img/java.svg" alt="Photo of a Shiba Inu">
            <mat-card-content class="margin-top-20-card-content">
                <p style="text-align: justify;">
                    Java is a versatile and widely-used programming language known for its portability, reliability,
                    and scalability.
                    It enables developers to write code once and run it anywhere, thanks to the Java Virtual Machine
                    (JVM).
                    Java's robust security features, extensive libraries, and strong community support make it ideal
                    for building applications ranging from mobile apps to large-scale enterprise systems.
                    Its object-oriented nature simplifies code maintenance and reusability,
                    making it a preferred choice for long-term projects.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button class="button-width" color="accent">Enroll Now</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="spring-title">Spring Boot</mat-card-title>
                <mat-card-subtitle>Spring | spring-boot upto latest version 3.3.2</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/img/spring.svg" alt="Photo of a Shiba Inu">
            <mat-card-content class="margin-top-20-card-content">
                <p style="text-align: justify;">
                    Spring Boot is a powerful framework for building Java applications,known for its ability
                    to simplify the setup and development of production-ready applications.It offers
                    reducing boilerplate code and allowing developers to focus on business logic.With built-in tools for
                    dependency management,
                    security,and microservices support,Spring Boot accelerates development and enhances
                    productivity.Its strong community support,seamless integration with other Spring projects,
                    and robust ecosystem make it ideal for building scalable.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button class="button-width" color="accent">Enroll Now</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="angular-title">Angular</mat-card-title>
                <mat-card-subtitle>Angular 2x | angular 16 </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/img/file-type-angular.svg" alt="Photo of a Shiba Inu">
            <mat-card-content class="margin-top-20-card-content">
                <p style="text-align: justify;">
                    Angular is a popular front-end framework for building dynamic and responsive web applications,
                    known for its ability to create rich user interfaces with a single-page application (SPA)
                    architecture. It offers a powerful set of tools and features, including two-way data binding,
                    dependency injection, and a modular structure, which streamline development and enhance
                    productivity.
                    Angular is widely used in enterprise-level applications. Its active community,
                    comprehensive documentation, and seamless integration with other web technologies.

                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button class="button-width" color="accent">Enroll Now</button>
            </mat-card-actions>
        </mat-card>

    </div>
    <div>
        <h1 class="margin-top-40 blink">Our Platform Features</h1>
    </div>
    <div class="brand_border">
        <mat-divider class="custom-divider"></mat-divider>
        <i class="fas fa-handshake margin-top-14"></i>
        <mat-divider class="divider-margin"></mat-divider>
    </div>
    <div class="cards-container">
        <mat-card class="example-card features">
            <mat-card-header>
                <mat-card-title>Expert Instructors</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon class="mat-icon">supervised_user_circle</mat-icon>
                <p class="margin-top-20-p">{{longText}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card features">
            <mat-card-header>
                <mat-card-title>Flexible Scheduling</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon class="mat-icon">schedule</mat-icon>
                <p class="margin-top-20-p">{{longText1}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card features">
            <mat-card-header>
                <mat-card-title>Personalized Support</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon class="mat-icon">face</mat-icon>
                <p class="margin-top-20-p">{{longText2}}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="cards-container second-row">
        <mat-card class="example-card features">
            <mat-card-header>
                <mat-card-title>Affordable Pricing</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon class="mat-icon"> money</mat-icon>
                <p class="margin-top-20-p">{{longText3}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card features">
            <mat-card-header>
                <mat-card-title>Interactive Learning</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon class="mat-icon">assignment</mat-icon>
                <p class="margin-top-20-p">{{longText4}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card features">
            <mat-card-header>
                <mat-card-title>Comprehensive Curriculum</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon class="mat-icon">record_voice_over</mat-icon>
                <p class="margin-top-20-p">{{longText5}}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="cards-container second-row">
        <mat-card class="example-card features">
            <mat-card-header>
                <mat-card-title>Learn Anytime Anywhere</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon class="mat-icon"> important_devices</mat-icon>
                <p class="margin-top-20-p">{{longText6}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card features">
            <mat-card-header>
                <mat-card-title>Video Lectures</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon class="mat-icon">chrome_reader_mode</mat-icon>
                <p class="margin-top-20-p">{{longText7}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card features">
            <mat-card-header>
                <mat-card-title>Quiz & Assignments</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon class="mat-icon">question_answer</mat-icon>
                <p class="margin-top-20-p">{{longText8}}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div style="text-align: center; margin-bottom: 55px;">
        <div> 
            <h1 class="margin-top-20-connect">LETS CONNECT NOW.....!</h1>
        </div>
        <div>
            <h2>Learn Today, Lead Tomorrow</h2>
        </div>
        <div>
            <button mat-raised-button class="button-width" color="accent">Are you Interested? Click Me</button>
        </div>
    </div>
    <div>
        <app-footer></app-footer>  
    </div>
</div>